.go-back-btn {
  animation: move-from-far-x 0.2s;
  opacity: 0.75;
}
.go-back-btn:hover {
  opacity: 1;
}
@keyframes move-from-far-x {
  from {
    transform: translateX(-120%);
  }
  to {
    transform: translateX(0);
  }
}
