# Logs
devlink-react/logs
devlink-react/*.log
devlink-react/npm-debug.log*
devlink-react/yarn-debug.log*
devlink-react/yarn-error.log*
devlink-react/pnpm-debug.log*
devlink-react/lerna-debug.log*

#react
devlink-react/node_modules
devlink-react/dist
devlink-react/dist-ssr
devlink-react/*.local



# Editor directories and files
devlink-react/.vscode/*
!devlink-react/.vscode/extensions.json
devlink-react/.idea
devlink-react/.DS_Store
devlink-react/*.suo
devlink-react/*.ntvs*
devlink-react/*.njsproj
devlink-react/*.sln
devlink-react/*.sw?
devlink-react/.env


#sinatra
# devlink-sinatra/Gemfile.lock
devlink-sinatra/.env
devlink-sinatra/.gitattributes
