# Logs
devsync-react/logs
devsync-react/*.log
devsync-react/npm-debug.log*
devsync-react/yarn-debug.log*
devsync-react/yarn-error.log*
devsync-react/pnpm-debug.log*
devsync-react/lerna-debug.log*

#react
devsync-react/node_modules
devsync-react/dist
devsync-react/dist-ssr
devsync-react/*.local



# Editor directories and files
devsync-react/.vscode/*
!devsync-react/.vscode/extensions.json
devsync-react/.idea
devsync-react/.DS_Store
devsync-react/*.suo
devsync-react/*.ntvs*
devsync-react/*.njsproj
devsync-react/*.sln
devsync-react/*.sw?
devsync-react/.env


#sinatra
# devsync-sinatra/Gemfile.lock
devsync-sinatra/.env
devsync-sinatra/.gitattributes
