<!DOCTYPE html>
<html>
  <head>
    <title>Dev-Link</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Mono&display=swap');
    </style>
  </head>
  <body style="height: 100vh;
            width: 100vw;
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            color: white;
            font-family: 'Roboto Mono', monospace;">
    <div>
      <h4>Hello.</h4>
      <p>List of available routes:</p>
      <ul>
        <% @routes.each do |route| %>
          <li><%= route %></li>
        <% end %>
      </ul>
    </div>
  </body>
</html>
