@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root,
#root {
  --border-radius: 3px;
  --padding: 5px;
  font-family: "Red Hat Text", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.monospace {
  font-family: "Red Hat Mono", monospace !important;
}

@keyframes inAnimation {
  0% {
    opacity: 0;
    backdrop-filter: blur(2px) opacity(0);
  }
  100% {
    opacity: 1;
    backdrop-filter: blur(2px) opacity(1);
  }
}

@keyframes outAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: inAnimation 0.2s ease-in-out forwards;
}

.crown-icon {
  transition: 0.2s;
  background-color: transparent !important;
}

.crown-icon:hover {
  transform: scale(1.1);
  transition: 0.2s;
  color: goldenrod !important;
}
