@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root,
#root {
  --border-radius: 3px;
  --padding: 5px;
  font-family: "Red Hat Text", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

.monospace {
  font-family: "Red Hat Mono", monospace !important;
}

/* Navbar */
.mobile-menu {
  display: none;
}

.desktop-menu {
  display: none;
}

.fade-in-out {
  animation: fadeInOut 2s forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*hide mobile on desktop*/
@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .desktop-menu {
    display: block;
  }
}
/*hide desktop on mobile*/
@media (max-width: 768px) {
  .mobile-menu {
    display: block;
  }

  .desktop-menu * {
    display: none !important;
  }
}

/*animations*/
@keyframes error-neutral-border {
  0% {
    border: 1px solid var(--joy-palette-danger-700, #7d1212);
  }
  100% {
  }
}

.error-neutral-border-animation {
  animation: error-neutral-border 2s forwards;
}

@keyframes inAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes outAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
